In [1]:
import pandas as pd
import geopandas as gpd
import numpy as np

In [5]:
crime_data_df = pd.read_json('http://localhost:5000/api/data')
crime_data_df.head()

,Unnamed: 0,crimetype,datetime,casenumber,description,policebeat,address,city,state,location_1,:@computed_region_w23w_jfhw,pre-fix,coordinates,lat,lng,xx
0,97,PETTY THEFT,2016-09-06 06:30:00,16-912055,THEFT,08X,2300 VALLEY ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.267741,...",1489,"{'type': 'Point', 'coordinates':","-122.267741, 37.81205]}",-122.267741,37.812050,}
1,104,BURG - AUTO,2017-02-21 11:30:00,17-009417,ATTEMPTED BURGLARY-AUTO,33X,8400 B ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.1811, 3...",1493,"{'type': 'Point', 'coordinates':","-122.1811, 37.752484]}",-122.181100,37.752484,}
2,105,PETTY THEFT,2017-02-21 15:56:00,17-009496,THEFT,27X,1600 HIGH ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.213189,...",1188,"{'type': 'Point', 'coordinates':","-122.213189, 37.773599]}",-122.213189,37.773599,}
3,107,MISDEMEANOR ASSAULT,2017-03-02 21:52:00,17-011244,TRESPASSING,34X,2000 83RD AV,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.171691,...",1493,"{'type': 'Point', 'coordinates':","-122.171691, 37.758342999999996]}",-122.171691,37.758343,}
4,108,RECOVERED O/S STOLEN,2017-02-22 18:53:00,17-009736,VEHICLE THEFT - AUTO,29X,3900 GARDENIA PL,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.171414,...",1482,"{'type': 'Point', 'coordinates':","-122.171414, 37.777111]}",-122.171414,37.777111,}

In [9]:
neighborhoods_gdf = gpd.read_file('static/data/neighborhoods.geojson')
neighborhoods_gdf.head()

              NAME                                           geometry
0        Montclair  POLYGON ((-122.21595 37.83218, -122.19901 37.8...
1  Shepherd Canyon  POLYGON ((-122.20487 37.83064, -122.18881 37.8...
2       Not Named6  POLYGON ((-122.23066 37.84902, -122.22917 37.8...
3   Glen Highlands  POLYGON ((-122.22824 37.84579, -122.22517 37.8...
4      Golden Gate  POLYGON ((-122.28252 37.83800, -122.28238 37.8...

In [10]:
crime_data_gdf = gpd.GeoDataFrame(crime_data_df, geometry=gpd.points_from_xy(crime_data_df['lat'], crime_data_df['lng']))
crime_data_gdf.head()

,Unnamed: 0,crimetype,datetime,casenumber,description,policebeat,address,city,state,location_1,:@computed_region_w23w_jfhw,pre-fix,coordinates,lat,lng,xx,geometry
0,97,PETTY THEFT,2016-09-06 06:30:00,16-912055,THEFT,08X,2300 VALLEY ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.267741,...",1489,"{'type': 'Point', 'coordinates':","-122.267741, 37.81205]}",-122.267741,37.812050,},POINT (-122.26774 37.81205)
1,104,BURG - AUTO,2017-02-21 11:30:00,17-009417,ATTEMPTED BURGLARY-AUTO,33X,8400 B ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.1811, 3...",1493,"{'type': 'Point', 'coordinates':","-122.1811, 37.752484]}",-122.181100,37.752484,},POINT (-122.18110 37.75248)
2,105,PETTY THEFT,2017-02-21 15:56:00,17-009496,THEFT,27X,1600 HIGH ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.213189,...",1188,"{'type': 'Point', 'coordinates':","-122.213189, 37.773599]}",-122.213189,37.773599,},POINT (-122.21319 37.77360)
3,107,MISDEMEANOR ASSAULT,2017-03-02 21:52:00,17-011244,TRESPASSING,34X,2000 83RD AV,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.171691,...",1493,"{'type': 'Point', 'coordinates':","-122.171691, 37.758342999999996]}",-122.171691,37.758343,},POINT (-122.17169 37.75834)
4,108,RECOVERED O/S STOLEN,2017-02-22 18:53:00,17-009736,VEHICLE THEFT - AUTO,29X,3900 GARDENIA PL,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.171414,...",1482,"{'type': 'Point', 'coordinates':","-122.171414, 37.777111]}",-122.171414,37.777111,},POINT (-122.17141 37.77711)

In [11]:
gpd.sjoin?

In [16]:
crime_data_nb_gdf = gpd.sjoin(crime_data_gdf, neighborhoods_gdf, op='within')
crime_data_nb_gdf.head()

C:\Users\17076\AppData\Local\Temp/ipykernel_31832/2459161250.py:1: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  crime_data_nb_gdf = gpd.sjoin(crime_data_gdf, neighborhoods_gdf, op='within')

,Unnamed: 0,crimetype,datetime,casenumber,description,policebeat,address,city,state,location_1,:@computed_region_w23w_jfhw,pre-fix,coordinates,lat,lng,xx,geometry,index_right,NAME
0,97,PETTY THEFT,2016-09-06 06:30:00,16-912055,THEFT,08X,2300 VALLEY ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.267741,...",1489,"{'type': 'Point', 'coordinates':","-122.267741, 37.81205]}",-122.267741,37.812050,},POINT (-122.26774 37.81205),82,Northgate
34,155,FELONY ASSAULT,2017-05-01 16:35:00,17-022496,BATTERY,08X,500 27TH ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.267219,...",1488,"{'type': 'Point', 'coordinates':","-122.267219, 37.816128]}",-122.267219,37.816128,},POINT (-122.26722 37.81613),82,Northgate
66,213,VANDALISM,2017-08-17 11:13:00,17-042994,VANDALISM,08X,400 27TH ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.265834,...",1486,"{'type': 'Point', 'coordinates':","-122.265834, 37.815959]}",-122.265834,37.815959,},POINT (-122.26583 37.81596),82,Northgate
110,324,BURG - AUTO,2017-08-25 21:00:00,17-913470,BURGLARY-AUTO,08X,400 26TH ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.266322,...",1489,"{'type': 'Point', 'coordinates':","-122.266322, 37.815145]}",-122.266322,37.815145,},POINT (-122.26632 37.81515),82,Northgate
126,362,VANDALISM,2018-06-13 22:52:00,18-029631,"VANDALISM [$400 TO $5,000]",06X,600 SYCAMORE ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.270452,...",1489,"{'type': 'Point', 'coordinates':","-122.270452, 37.815423]}",-122.270452,37.815423,},POINT (-122.27045 37.81542),82,Northgate

In [24]:
crime_data_nb_df = pd.DataFrame(crime_data_nb_gdf)
crime_data_nb_df['count'] = 1
crime_data_nb_df['year'] = crime_data_nb_df['datetime'].dt.year
crime_data_nb_df.head()

,Unnamed: 0,crimetype,datetime,casenumber,description,policebeat,address,city,state,location_1,...,pre-fix,coordinates,lat,lng,xx,geometry,index_right,NAME,count,year
0,97,PETTY THEFT,2016-09-06 06:30:00,16-912055,THEFT,08X,2300 VALLEY ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.267741,...",...,"{'type': 'Point', 'coordinates':","-122.267741, 37.81205]}",-122.267741,37.812050,},POINT (-122.26774 37.81205),82,Northgate,1,2016
34,155,FELONY ASSAULT,2017-05-01 16:35:00,17-022496,BATTERY,08X,500 27TH ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.267219,...",...,"{'type': 'Point', 'coordinates':","-122.267219, 37.816128]}",-122.267219,37.816128,},POINT (-122.26722 37.81613),82,Northgate,1,2017
66,213,VANDALISM,2017-08-17 11:13:00,17-042994,VANDALISM,08X,400 27TH ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.265834,...",...,"{'type': 'Point', 'coordinates':","-122.265834, 37.815959]}",-122.265834,37.815959,},POINT (-122.26583 37.81596),82,Northgate,1,2017
110,324,BURG - AUTO,2017-08-25 21:00:00,17-913470,BURGLARY-AUTO,08X,400 26TH ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.266322,...",...,"{'type': 'Point', 'coordinates':","-122.266322, 37.815145]}",-122.266322,37.815145,},POINT (-122.26632 37.81515),82,Northgate,1,2017
126,362,VANDALISM,2018-06-13 22:52:00,18-029631,"VANDALISM [$400 TO $5,000]",06X,600 SYCAMORE ST,Oakland,CA,"{'type': 'Point', 'coordinates': [-122.270452,...",...,"{'type': 'Point', 'coordinates':","-122.270452, 37.815423]}",-122.270452,37.815423,},POINT (-122.27045 37.81542),82,Northgate,1,2018

0      2016
34     2017
66     2017
110    2017
126    2018
       ...
433    2021
448    2015
497    2021
500    2016
508    2016
Name: datetime, Length: 519, dtype: int64

In [36]:
crime_pivot = pd.pivot_table(crime_data_nb_df, values='count', index=['NAME', 'year', 'crimetype'], aggfunc=np.sum, fill_value=0)

In [39]:
crime_pivot.reset_index(inplace=True)

In [44]:
crime_pivot

                        NAME  year            crimetype  count
0    Acorn/ Acorn Industrial  2016       FELONY ASSAULT      1
1    Acorn/ Acorn Industrial  2016  MISDEMEANOR ASSAULT      1
2    Acorn/ Acorn Industrial  2016                OTHER      1
3    Acorn/ Acorn Industrial  2016            VANDALISM      1
4    Acorn/ Acorn Industrial  2017  MISDEMEANOR ASSAULT      1
..                       ...   ...                  ...    ...
464                  Webster  2021              THREATS      1
465                 Woodland  2017          BURG - AUTO      1
466                 Woodland  2017          PETTY THEFT      1
467                 Woodland  2018          PETTY THEFT      1
468                 Woodland  2021                OTHER      1

[469 rows x 4 columns]

In [46]:
crime_pivot['year'] = crime_pivot['year'].astype(str)
crime_pivot.dtypes

NAME         object
year         object
crimetype    object
count         int64
dtype: object

In [48]:
crime_pivot['year and crimetype'] = crime_pivot['year'] + ' ' + crime_pivot['crimetype']
crime_pivot

,NAME,year,crimetype,count,year and crimetype
0,Acorn/ Acorn Industrial,2016,FELONY ASSAULT,1,2016 FELONY ASSAULT
1,Acorn/ Acorn Industrial,2016,MISDEMEANOR ASSAULT,1,2016 MISDEMEANOR ASSAULT
2,Acorn/ Acorn Industrial,2016,OTHER,1,2016 OTHER
3,Acorn/ Acorn Industrial,2016,VANDALISM,1,2016 VANDALISM
4,Acorn/ Acorn Industrial,2017,MISDEMEANOR ASSAULT,1,2017 MISDEMEANOR ASSAULT
...,...,...,...,...,...
464,Webster,2021,THREATS,1,2021 THREATS
465,Woodland,2017,BURG - AUTO,1,2017 BURG - AUTO
466,Woodland,2017,PETTY THEFT,1,2017 PETTY THEFT
467,Woodland,2018,PETTY THEFT,1,2018 PETTY THEFT
468,Woodland,2021,OTHER,1,2021 OTHER

In [50]:
crime_pivot_for_merge = pd.pivot_table(crime_pivot, values='count', index=['NAME'], columns='year and crimetype', aggfunc=np.sum, fill_value=0)

In [52]:
neighborhoods_gdf

                NAME                                           geometry
0          Montclair  POLYGON ((-122.21595 37.83218, -122.19901 37.8...
1    Shepherd Canyon  POLYGON ((-122.20487 37.83064, -122.18881 37.8...
2         Not Named6  POLYGON ((-122.23066 37.84902, -122.22917 37.8...
3     Glen Highlands  POLYGON ((-122.22824 37.84579, -122.22517 37.8...
4        Golden Gate  POLYGON ((-122.28252 37.83800, -122.28238 37.8...
..               ...                                                ...
128          Waverly  POLYGON ((-122.26126 37.81146, -122.26096 37.8...
129          Webster  POLYGON ((-122.16595 37.75329, -122.16635 37.7...
130         Woodland  POLYGON ((-122.17760 37.75361, -122.17735 37.7...
131      Woodminster  POLYGON ((-122.17843 37.80374, -122.18510 37.7...
132     Upper Dimond  POLYGON ((-122.20013 37.79744, -122.20053 37.7...

[133 rows x 2 columns]

In [54]:
neighborhoods_crime_gdf = neighborhoods_gdf.merge(crime_pivot_for_merge, on='NAME')
neighborhoods_crime_gdf.head()

,NAME,geometry,2000 ROBBERY,2007 PETTY THEFT,2012 OTHER,2012 PETTY THEFT,2014 FORGERY & COUNTERFEITING,2015 BURG - AUTO,2015 BURG - RESIDENTIAL,2015 DOMESTIC VIOLENCE,...,2021 PETTY THEFT,2021 PROSTITUTION,2021 RECOVERED O/S STOLEN,2021 ROBBERY,2021 STOLEN AND RECOVERED VEHICLE,2021 STOLEN VEHICLE,2021 THREATS,2021 VANDALISM,2021 WEAPONS,2026 BURG - RESIDENTIAL
0,Glen Highlands,"POLYGON ((-122.22824 37.84579, -122.22517 37.8...",0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,Golden Gate,"POLYGON ((-122.28252 37.83800, -122.28238 37.8...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Paradise Park,"POLYGON ((-122.27751 37.84431, -122.27751 37.8...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Santa Fe,"POLYGON ((-122.26970 37.83840, -122.26910 37.8...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Sausal Creek,"POLYGON ((-122.21735 37.79704, -122.21765 37.7...",0,0,0,0,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0

In [57]:
neighborhoods_crime_gdf.to_file('static/data/neighborhoods_with_crime_data.geojson', driver='GeoJSON')