In [1]:
# Import dependencies
import pandas as pd
import geopandas as gpd
import numpy as np

In [2]:
# Pull in data via custom API endpoint
crime_data_df = pd.read_json('http://localhost:5000/api/data')
crime_data_df.head()

,crimetype,category,years,casenumber,description,policebeat,address,city,state,location,lat,lng
0,ARSON,Property,2019,19-000495,MAL SET/ETC FIRE PROP/ETC,02Y,1800 9TH ST,Oakland,CA,POINT (-122.302 37.810199),-122.302000,37.810199
1,ARSON,Property,2019,19-000505,MAL SET/ETC FIRE PROP/ETC,31Z,10322 KNIGHT ST,Oakland,CA,POINT (-122.181421 37.729727),-122.181421,37.729727
2,ARSON,Property,2019,19-000554,MAL SET/ETC FIRE PROP/ETC,34X,9314 PLYMOUTH ST,Oakland,CA,POINT (-122.169758 37.749289),-122.169758,37.749289
3,ARSON,Property,2019,19-001709,MAL SET/ETC FIRE PROP/ETC - MOTOR VEHICLES,07X,3445 SAN PABLO AV,Oakland,CA,POINT (-122.278206 37.825691),-122.278206,37.825691
4,ARSON,Property,2019,19-001815,MAL SET/ETC FIRE PROP/ETC - MOTOR VEHICLES,21Y,3100 DAVIS ST,Oakland,CA,POINT (-122.220185 37.789836),-122.220185,37.789836

In [3]:
# Read in geojson file (polygons for mapping Oakland neighborhoods)
neighborhoods_gdf = gpd.read_file('static/data/neighborhoods.geojson')
neighborhoods_gdf.head()

              NAME                                           geometry
0        Montclair  POLYGON ((-122.21595 37.83218, -122.19901 37.8...
1  Shepherd Canyon  POLYGON ((-122.20487 37.83064, -122.18881 37.8...
2       Not Named6  POLYGON ((-122.23066 37.84902, -122.22917 37.8...
3   Glen Highlands  POLYGON ((-122.22824 37.84579, -122.22517 37.8...
4      Golden Gate  POLYGON ((-122.28252 37.83800, -122.28238 37.8...

In [4]:
#Create geodataframe of crime datafram created from API endpoint
crime_data_gdf = gpd.GeoDataFrame(crime_data_df, geometry=gpd.points_from_xy(crime_data_df['lat'], crime_data_df['lng']))
crime_data_gdf.head()

,crimetype,category,years,casenumber,description,policebeat,address,city,state,location,lat,lng,geometry
0,ARSON,Property,2019,19-000495,MAL SET/ETC FIRE PROP/ETC,02Y,1800 9TH ST,Oakland,CA,POINT (-122.302 37.810199),-122.302000,37.810199,POINT (-122.30200 37.81020)
1,ARSON,Property,2019,19-000505,MAL SET/ETC FIRE PROP/ETC,31Z,10322 KNIGHT ST,Oakland,CA,POINT (-122.181421 37.729727),-122.181421,37.729727,POINT (-122.18142 37.72973)
2,ARSON,Property,2019,19-000554,MAL SET/ETC FIRE PROP/ETC,34X,9314 PLYMOUTH ST,Oakland,CA,POINT (-122.169758 37.749289),-122.169758,37.749289,POINT (-122.16976 37.74929)
3,ARSON,Property,2019,19-001709,MAL SET/ETC FIRE PROP/ETC - MOTOR VEHICLES,07X,3445 SAN PABLO AV,Oakland,CA,POINT (-122.278206 37.825691),-122.278206,37.825691,POINT (-122.27821 37.82569)
4,ARSON,Property,2019,19-001815,MAL SET/ETC FIRE PROP/ETC - MOTOR VEHICLES,21Y,3100 DAVIS ST,Oakland,CA,POINT (-122.220185 37.789836),-122.220185,37.789836,POINT (-122.22019 37.78984)

In [5]:
# Can use ? after code to get documentation help
#gpd.sjoin?

In [6]:
# Join neighborhood names into crime geodataframe for future reference
crime_data_nb_gdf = gpd.sjoin(crime_data_gdf, neighborhoods_gdf, op='within')
crime_data_nb_gdf.head()

C:\Users\mjensen\AppData\Local\Temp/ipykernel_12516/1731674740.py:2: UserWarning: CRS mismatch between the CRS of left geometries and the CRS of right geometries.
Use `to_crs()` to reproject one of the input geometries to match the CRS of the other.

Left CRS: None
Right CRS: EPSG:4326

  crime_data_nb_gdf = gpd.sjoin(crime_data_gdf, neighborhoods_gdf, op='within')

,crimetype,category,years,casenumber,description,policebeat,address,city,state,location,lat,lng,geometry,index_right,NAME
0,ARSON,Property,2019,19-000495,MAL SET/ETC FIRE PROP/ETC,02Y,1800 9TH ST,Oakland,CA,POINT (-122.302 37.810199),-122.302000,37.810199,POINT (-122.30200 37.81020),102,Prescott
23,ARSON,Property,2019,19-010479,MAL SET/ETC FIRE PROP/ETC,05Y,18TH ST & WOOD ST,Oakland,CA,POINT (-122.295663 37.815999),-122.295663,37.815999,POINT (-122.29566 37.81600),102,Prescott
97,ARSON,Property,2019,19-034869,MAL SET/ETC FIRE PROP/ETC - MOTOR VEHICLES,05Y,20TH ST & WILLOW ST,Oakland,CA,POINT (-122.293321 37.816695),-122.293321,37.816695,POINT (-122.29332 37.81670),102,Prescott
169,ARSON,Property,2019,19-057875,ARSON:INHABITED STRUCTURE/PROPERTY,02Y,1469 13TH ST,Oakland,CA,POINT (-122.293817 37.810544),-122.293817,37.810544,POINT (-122.29382 37.81054),102,Prescott
250,ARSON,Property,2020,20-018241,MAL SET/ETC FIRE PROP/ETC,05Y,1719 15TH ST,Oakland,CA,POINT (-122.296538 37.81358),-122.296538,37.813580,POINT (-122.29654 37.81358),102,Prescott

In [7]:
# Add column with 1 in each row so that we can summarize crime type instances
crime_data_nb_df = pd.DataFrame(crime_data_nb_gdf)
crime_data_nb_df['count'] = 1
# Already have "years" column in newer datasets, so we don't need the next line below
#crime_data_nb_df['year'] = crime_data_nb_df['datetime'].dt.year
crime_data_nb_df.head()

,crimetype,category,years,casenumber,description,policebeat,address,city,state,location,lat,lng,geometry,index_right,NAME,count
0,ARSON,Property,2019,19-000495,MAL SET/ETC FIRE PROP/ETC,02Y,1800 9TH ST,Oakland,CA,POINT (-122.302 37.810199),-122.302000,37.810199,POINT (-122.30200 37.81020),102,Prescott,1
23,ARSON,Property,2019,19-010479,MAL SET/ETC FIRE PROP/ETC,05Y,18TH ST & WOOD ST,Oakland,CA,POINT (-122.295663 37.815999),-122.295663,37.815999,POINT (-122.29566 37.81600),102,Prescott,1
97,ARSON,Property,2019,19-034869,MAL SET/ETC FIRE PROP/ETC - MOTOR VEHICLES,05Y,20TH ST & WILLOW ST,Oakland,CA,POINT (-122.293321 37.816695),-122.293321,37.816695,POINT (-122.29332 37.81670),102,Prescott,1
169,ARSON,Property,2019,19-057875,ARSON:INHABITED STRUCTURE/PROPERTY,02Y,1469 13TH ST,Oakland,CA,POINT (-122.293817 37.810544),-122.293817,37.810544,POINT (-122.29382 37.81054),102,Prescott,1
250,ARSON,Property,2020,20-018241,MAL SET/ETC FIRE PROP/ETC,05Y,1719 15TH ST,Oakland,CA,POINT (-122.296538 37.81358),-122.296538,37.813580,POINT (-122.29654 37.81358),102,Prescott,1

In [8]:
crime_data_nb_df.to_csv("static/data/crime_data_nb_df.csv")

In [9]:
# Create pivot table that we can use to join information from crime geodataframe to neighborhoods geojson for choropleth mapping purposes
crime_pivot = pd.pivot_table(crime_data_nb_df, values='count', index=['NAME', 'years', 'category'], aggfunc=np.sum, fill_value=0)

In [10]:
# Reset index so data displays correctly and is easier to merge later
crime_pivot.reset_index(inplace=True)

In [11]:
# Display pivot
crime_pivot

                        NAME  years  category  count
0    Acorn/ Acorn Industrial   2019     Other     97
1    Acorn/ Acorn Industrial   2019  Property    391
2    Acorn/ Acorn Industrial   2019   Violent    290
3    Acorn/ Acorn Industrial   2020     Other     87
4    Acorn/ Acorn Industrial   2020  Property    293
..                       ...    ...       ...    ...
776              Woodminster   2019  Property     37
777              Woodminster   2019   Violent      7
778              Woodminster   2020     Other      4
779              Woodminster   2020  Property     81
780              Woodminster   2020   Violent     10

[781 rows x 4 columns]

In [12]:
# Convert "years" from integer to string for combining columns below
crime_pivot['years'] = crime_pivot['years'].astype(str)

# Display column content types
crime_pivot.dtypes

NAME        object
years       object
category    object
count        int64
dtype: object

In [13]:
# Create new column with year and crime type combo
crime_pivot['year and category'] = crime_pivot['years'] + ' ' + crime_pivot['category']
crime_pivot

                        NAME years  category  count year and category
0    Acorn/ Acorn Industrial  2019     Other     97        2019 Other
1    Acorn/ Acorn Industrial  2019  Property    391     2019 Property
2    Acorn/ Acorn Industrial  2019   Violent    290      2019 Violent
3    Acorn/ Acorn Industrial  2020     Other     87        2020 Other
4    Acorn/ Acorn Industrial  2020  Property    293     2020 Property
..                       ...   ...       ...    ...               ...
776              Woodminster  2019  Property     37     2019 Property
777              Woodminster  2019   Violent      7      2019 Violent
778              Woodminster  2020     Other      4        2020 Other
779              Woodminster  2020  Property     81     2020 Property
780              Woodminster  2020   Violent     10      2020 Violent

[781 rows x 5 columns]

In [14]:
# Prep crime summary stats for merge into Oakland neighborhoods geodataframe
crime_pivot_for_merge = pd.pivot_table(crime_pivot, values='count', index=['NAME'], columns='year and category', aggfunc=np.sum, fill_value=0)

In [15]:
# Display Oakland neighborhoods geodataframe
neighborhoods_gdf

                NAME                                           geometry
0          Montclair  POLYGON ((-122.21595 37.83218, -122.19901 37.8...
1    Shepherd Canyon  POLYGON ((-122.20487 37.83064, -122.18881 37.8...
2         Not Named6  POLYGON ((-122.23066 37.84902, -122.22917 37.8...
3     Glen Highlands  POLYGON ((-122.22824 37.84579, -122.22517 37.8...
4        Golden Gate  POLYGON ((-122.28252 37.83800, -122.28238 37.8...
..               ...                                                ...
128          Waverly  POLYGON ((-122.26126 37.81146, -122.26096 37.8...
129          Webster  POLYGON ((-122.16595 37.75329, -122.16635 37.7...
130         Woodland  POLYGON ((-122.17760 37.75361, -122.17735 37.7...
131      Woodminster  POLYGON ((-122.17843 37.80374, -122.18510 37.7...
132     Upper Dimond  POLYGON ((-122.20013 37.79744, -122.20053 37.7...

[133 rows x 2 columns]

In [16]:
# Merge crime summary stats into Oakland neighborhoods geodataframe
neighborhoods_crime_gdf = neighborhoods_gdf.merge(crime_pivot_for_merge, on='NAME')
neighborhoods_crime_gdf.head()

,NAME,geometry,2019 Other,2019 Property,2019 Violent,2020 Other,2020 Property,2020 Violent
0,Montclair,"POLYGON ((-122.21595 37.83218, -122.19901 37.8...",27,99,17,31,139,16
1,Shepherd Canyon,"POLYGON ((-122.20487 37.83064, -122.18881 37.8...",10,39,9,11,57,2
2,Not Named6,"POLYGON ((-122.23066 37.84902, -122.22917 37.8...",1,11,2,1,17,0
3,Glen Highlands,"POLYGON ((-122.22824 37.84579, -122.22517 37.8...",14,41,2,9,43,12
4,Golden Gate,"POLYGON ((-122.28252 37.83800, -122.28238 37.8...",14,49,13,16,46,6

In [17]:
# Save Oakland neighborhoods geodataframe to new geojson file
neighborhoods_crime_gdf.to_file('static/data/neighborhoods_with_crime_data.geojson', driver='GeoJSON')